{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block body %}
{% load static %}
        <!--About US-->
        <section>
            <div class="about-section">
                <div class="inner-container">
                    <h1>About  Noxx</h1>
                    <p class="text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis 
                        architecto nobis ab iste consequatur doloribus dicta dolor tenetur, 
                        soluta, sint hic? Nobis assumenda sunt tempore facilis rem a dolores 
                        quidem.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis 
                        architecto nobis ab iste consequatur doloribus dicta dolor tenetur, 
                        soluta, sint hic? Nobis assumenda sunt tempore facilis rem a dolores 
                        quidem.
                    </p>
                    <p class="text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis 
                        architecto nobis ab iste consequatur doloribus dicta dolor tenetur, 
                        soluta, sint hic? Nobis assumenda sunt tempore facilis rem a dolores 
                        quidem.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis 
                        architecto nobis ab iste consequatur doloribus dicta dolor tenetur, 
                        soluta, sint hic? Nobis assumenda sunt tempore facilis rem a dolores 
                        quidem.
                    </p>
                </div>
            </div>
        </section>
<hr>
        <section class="team-section">
            <div class="inner-container">
                <h1>Our Team</h1>
                <div class="team">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="{% static ''%}Images/download.png" alt="team_member_image">
                        </div>
                        <h3>Ashin Joshi</h3>
                        <p class="role">Manager</p>
                        <p class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Adipisci aliquid numquam eius ut nemo vitae in assumenda 
                            consequatur aliquam iure labore, hic, porro atque mollitia 
                            inventore officiis minus libero id.
                        </p>
                    </div>


                    <div class="team-member">
                        <div class="team-img">
                            <img src="{% static ''%}Images/download.png" alt="team_member_image">
                        </div>
                        <h3>Jenish R. B. </h3>
                        <p class="role">Back-End Developer </p>
                        <p class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Adipisci aliquid numquam eius ut nemo vitae in assumenda 
                            consequatur aliquam iure labore, hic, porro atque mollitia 
                            inventore officiis minus libero id.
                        </p>
                    </div>

                    <div class="team-member">
                        <div class="team-img">
                            <img src="{% static ''%}Images/download.png" alt="team_member_image">
                        </div>
                        <h3>Nidup Dorji</h3>
                        <p class="role">Front-End Developer</p>
                        <p class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Adipisci aliquid numquam eius ut nemo vitae in assumenda 
                            consequatur aliquam iure labore, hic, porro atque mollitia 
                            inventore officiis minus libero id.
                        </p>
                    </div>

    
                </div>
                
            </div>
        </section>
{% endblock %} 

{% block footer %} {% include 'footer.html' %}{% endblock %}