{% extends 'base.html' %}
{% block title %} Contact Us  {% endblock %}
{% block body %}
{% load static %}
        <!--About US-->
        <div class="row" style="text-align: center;  display: block;
        margin-left: auto;
        margin-right: auto;">


            <!--Grid column-->
            <div >

              <h4 ><strong>Office</strong></h4>

              <hr>

              <p ><strong>Address:</strong> </p>

              <p >Kijowska 7/U5</p>
              <p >Warsaw, 03-738</p>
              <p >Poland</p>

              <hr>



              <h4 ><strong>Contact:</strong></h4>

              <p ><strong>Email:</strong>noxx@info.com</p>
              <p ><strong>Phone:</strong>2343425</p>
              <p ><strong>Customer Service:</strong>1600-56978976</p>

              <hr>

              <h4 ><strong>Company tax ID:</strong></h4>

              <p >US2542911940</p>

            </div>
            <!--Grid column-->

           
            <!--Grid column-->

          </div>
{% endblock %} 

{% block footer %} {% include 'footer.html' %}{% endblock %}